{% block sidebar %}
<style>
    .card{
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
    <div class="card my-4">
            <h5 class="card-header">Sobre mim</h5>
        <div class="card-body">
            <p class="card-text"> Cat ipsum dolor sit amet, weigh eight pounds but take up a full-size bed steal the warm chair right after you get up eat owner's food.</p>
            <a href="https://www.instagram.com/gyselle_mello/"
            class="btn btn-danger">Saiba Mais</a>
        </div>
    </div>
</div>

{% endblock sidebar %}